{% extends 'base.html' %}
{% block content %}

<section class="glossary accessibility" role="region">

  <div class="glossary-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Accesibilidad') }}</h2>
    </div>
  </div>

  <div class="glossary-content">
    <div class="container">

      <p class="lead">A <a href="http://ajuntament.barcelona.cat/estrategiaifinances/pressupostobert/ca/" target="_blank">la web de l’Ajuntament de Barcelona</a> s’han considerat les següents mesures per permetre als usuaris i usuàries accedir a tots els continguts i funcionalitat amb més facilitat:</p>

      <ul>
        <li>Multinavegador: Les pàgines tenen una correcta visualització en diferents navegadors utilitzats per a l'anàlisi (Mozilla, Internet Explorer, Safari, Chrome).</li>
        <li>Navegació coherent: S'assegura la consistència en el lloc web, fent que la navegació sigui coherent a totes les pàgines i oferint una experiència d'usuari gratificant a tots els usuaris.</li>
        <li>Títols de página accessibles.</li>
        <li>Estructura d’encapçalaments correcta.</li>
        <li>Formularis amb etiquetes.</li>
        <li>Distraccions: S'eviten interferències com el contingut que fa pampallugues, el parpelleig exagerat  i l'àudio que comença automàticament.</li>
        <li>Moviment: el contingut en moviment té un mecanisme d’aturada.</li>
        <li>Llenguatge: El llenguatge de la pàgina és simple i adequat per al públic al que va adreçat el contingut.</li>
        <li>Idioma de página: marcat correctament.</li>
      </ul>

      <p>El desenvolupament de <a href="http://ajuntament.barcelona.cat/estrategiaifinances/pressupostobert/ca/" target="_blank">la web de l’Ajuntament de Barcelona</a> s’ha basat en la consideració de les Pautes d'Accessibilitat al Contingut en la Web 2.0 (WCAG 2.0), en el seu nivell Doble A, establertes pel W3C (Consorci de la World Wide Web).</p>

      <p>Més informació sobre l’accessibilitat web i els recursos d’accessibilitat, i per configurar les opcions dels diferents navegadors la trobareu a la web http://ajuntament.barcelona.cat/accessibilitat/ca.</p>

      <p>L'Ajuntament de Barcelona es compromet a continuar treballant perquè es redueixin al màxim les  diverses barreres d'accessibilitat que actualment manquen per resoldre en aquest lloc web.</p>

      <p>Barcelona, 13 de juny de 2016</p>

    </div>
  </div>

</section>

{% endblock %}