{% extends 'base.html' %}
{% block content %}

<section class="glossary" role="region">

  <div class="glossary-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Aviso legal') }}</h2>
    </div>
  </div>

  <div class="glossary-content">
    <div class="container">

      <p class="lead">Al web de Pressuposts Obert de l’Ajuntament de Barcelona la informació que es difon és la vigent en el moment de la publicació i s’actualitzarà amb la màxima celeritat possible.


      <h3>1. L’actualització de la informació facilitada per tercers és responsabilitat de la persona o entitat proveïdora. L’Ajuntament de Barcelona vetllarà perquè els proveïdors d’aquesta informació en garanteixin l’actualització i el respecte segons la normativa vigent.</h3>

      <p>És objectiu de l’Ajuntament que la informació que es difon sigui completa, veraç, precisa, útil i accessible, i que compleixi els requisits de qualitat previstos per la legislació vigent.</p>


      <h3>2. Permet accedir-hi amb independència de l’opció tecnològica dels usuaris i usuàries, particularment mitjançant les tecnologies basades en estàndards oberts.</h3>


      <h3>3. Garanteix la seguretat i la protecció de les dades personals.</h3>

      <p>L’Ajuntament de Barcelona, en compliment de la normativa de protecció de dades de caràcter personal, garanteix la confidencialitat de les dades personals que es puguin obtenir utilitzant formularis o altres elements a fi de donar un servei.</p>

      <p>D’altra banda, a l’enllaç “Contacte” els ciutadans i ciutadanes poden realitzar les seves aportacions quant queixes i suggeriments a la informació publicada al web que seran contestades pels serveis de l’Ajuntament.</p>


      <h3>4. Segueix una política de galetes respectuosa amb la privacitat.</h3>

      <p>Aquest lloc web fa servir galetes pròpies i de tercers per millorar l’experiència de navegació i oferir continguts i serveis d’interès (més informació a http://www.barcelona.cat/ca/cookies.html.</p>


      <h3>5. Permet i fomenta la reutilització de la informació difosa, amb els límits que aquest avís legal preveu i que la legislació vigent imposa.</h3>

      <p>L’Ajuntament de Barcelona permet reutilitzar totes les dades i informacions difoses per mitjà d’aquest web, sempre que no s’indiqui el contrari, amb les condicions següents:</p>

      <ul>
        <li>No alterar el contingut de la informació.</li>
        <li>No desnaturalitzar el sentit de la informació.</li>
        <li>Esmentar la font de la informació.</li>
        <li>Indicar la data de la darrera actualització de la informació.</li>
        <li>No donar a entendre que l’Ajuntament patrocina o dóna suport a l’activitat en la qual es reutilitza la informació.</li>
      </ul>

      <p>En tots els casos, la possibilitat de reutilitzar informació queda limitada per la necessària protecció d’altres drets, béns o interessos d’acord amb el que la legislació vigent estableix. En particular, qualsevol acte de reutilització de la informació continguda en aquest web ha de garantir la protecció del règim de propietat intel·lectual i industrial i del règim de protecció de les dades personals. En concret, la reutilització d’obres i prestacions protegides pel règim de propietat intel·lectual queda subjecta als termes de la llicència de propietat intel·lectual que s’hagi establert en cada cas (vegeu l'apartat “Propietat intel·lectual i industrial”). Queda prohibida la reutilització d’obres i prestacions de les quals s’hagi indicat la reserva dels drets de propietat intel·lectual.</p>


      <h3>6. Protegeix la propietat intel·lectual industrial i fomenta les llicències obertes.</h3>

      <p>L’Ajuntament de Barcelona és el titular dels drets de propietat intel·lectual de les obres i prestacions que integren aquest web, o bé en té la cessió d’ús. Això inclou el disseny gràfic i el programari d’aquest web, com també els textos, les imatges i els enregistraments que s’hi contenen.</p>

      <p>L’ajuntament fomenta la reutilització de la informació en els termes establerts a l’apartat anterior.</p>

      <p>Si qualsevol ciutadà considera que aquest web o el seu contingut suposa la infracció d’algun dret de propietat intel·lectual o industrial, ha de notificar-ho a l’Ajuntament indicant el seu nom, la titularitat de drets (aportant la prova o l’acreditació corresponent) i l’objecte del dret suposadament infringit.</p>


      <h3>7. És present a diferents xarxes socials i plataformes.</h3>

      <p>L’Ajuntament és present a diferents xarxes socials i plataformes, com ara Facebook, Twitter, Instagram, YouTube, LinkedIn o Issuu. Quan accediu a qualsevol d'aquestes o altres xarxes heu de tenir en compte que les condicions d'ús aplicables són les que cada plataforma té establertes, les quals no estan determinades per l'Ajuntament.</p>


      <h3>8. S’ajusta al marc legal en vigor en matèria de responsabilitat pels continguts.</h3>

      <p>L’Ajuntament assumeix, d’acord amb la legislació vigent, la responsabilitat pels continguts d’aquest web que hagin estat elaborats pel mateix Ajuntament. Pel que fa als continguts subministrats per usuaris i tercers, hi són d’aplicació les exclusions de responsabilitat previstes als articles 13 a 17 de la Llei 34/2002, d’11 de juliol, de serveis de la societat de la informació i de comerç electrònic. En particular, pel que fa als continguts enllaçats, s’aplica l’exclusió de responsabilitat de l’article 17 de la llei esmentada.</p>

      <p>L’Ajuntament no respon del mal ús que els usuaris puguin fer dels continguts del web. Tampoc no es fa responsable de les dificultats d’accés que hi pugui haver per accedir al portal ni del mal funcionament d’aquest que sigui atribuïble a causes alienes a l’Ajuntament.</p>

      <p>Barcelona, 13 de juny de 2016.</p>

    </div>
  </div>

</section>

{% endblock %}