<div class="panel indicators">
  <div class="panel-title">{{ _('Indicadores presupuestarios') }}</div>
  <div class="panel-content">
    <p>
      <span><a href="{{ url('budget_app.views.terms')+'?q='+_('Capacidad/Necesidad de financiación') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos no financieros (capítulos I-VII) – Gastos no financieros (capítulos I-VII)') }}"></a> {{ _('Capacidad/Necesidad de financiación') }}</span>
      <b class="value value-2013">139,3 {{ _('millones') }} €</b>
      <b class="value value-2014">22,2 {{ _('millones') }} €</b>
      <b class="value value-2015">100,2 {{ _('millones') }} €</b>
      <b class="value value-2016"> - </b>
    </p>
    <p>
      <span><a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro corriente / Ingresos corrientes') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ahorro corriente / Ingresos corrientes') }}"></a> {{ _('Ahorro corriente / Ingresos corrientes') }}</span>
      <b class="value value-2013">19,8 %</b>
      <b class="value value-2014">25,1 %</b>
      <b class="value value-2015">19,7 %</b>
      <b class="value value-2016"> - </b>
    </p>
    <p>
      <span><a href="{{ url('budget_app.views.terms')+'?q='+_('Deuda viva') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Deuda viva') }}"></a> {{ _('Deuda viva') }}</span>
      <b class="value value-2013">1.101,4 {{ _('millones') }} €</b>
      <b class="value value-2014">971,7 {{ _('millones') }} €</b>
      <b class="value value-2015">835,7 {{ _('millones') }} €</b>
      <b class="value value-2016"> - </b>
    </p>
    <p>
      <span><a href="{{ url('budget_app.views.terms')+'?q='+_('Deuda viva') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Deuda viva') }} / {{ _('Ingresos corrientes') }}"></a> {{ _('Deuda viva') }} / {{ _('Ingresos corrientes') }}</span>
      <b class="value value-2013">46,7 %</b>
      <b class="value value-2014">38,6 %</b>
      <b class="value value-2015">32,8 %</b>
      <b class="value value-2016"> - </b>
    </p>
    <p>
      <span><a href="{{ url('budget_app.views.terms')+'?q='+_('Remanente de tesorería') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Remanente de tesorería') }}"></a> {{ _('Remanente de tesorería') }}</span>
      <b class="value value-2013">930,5 {{ _('millones') }} €</b>
      <b class="value value-2014">807,6 {{ _('millones') }} €</b>
      <b class="value value-2015">766,0 {{ _('millones') }} €</b>
      <b class="value value-2016"> - </b>
    </p>
    <p>
      <span><a href="{{ url('budget_app.views.terms')+'?q='+_('Remanente de tesorería para gastos generales') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Remanente de tesorería para gastos generales') }}"></a> {{ _('Remanente de tesorería para gastos generales') }}</span>
      <b class="value value-2013">411,0 {{ _('millones') }} €</b>
      <b class="value value-2014">285,5 {{ _('millones') }} €</b>
      <b class="value value-2015">195,9 {{ _('millones') }} €</b>
      <b class="value value-2016"> - </b>
    </p>
  </div>
</div>